<!DOCTYPE html>
<html>
    <head>
        <title>OneWay - My dream set sail from here</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="__PUBLIC__/assets/css/bootstrap.css"> 
        <link rel="stylesheet" href="__PUBLIC__/assets/css/font-awesome.css">
        <link rel="stylesheet" href="__PUBLIC__/assets/css/home.css"> 

        <script src="__PUBLIC__/assets/js/jquery-3.5.1.js"></script>
        <script src="__PUBLIC__/assets/js/bootstrap.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <a class="navbar-brand" href="#">OneWay</a>
            <!--小屏幕下的汉堡菜单-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">云笔记</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">导航</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">爬虫</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            开发中
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">有限圈子</a>
                        </div>
                    </li>
                </ul>
                <!--根据用户是否登录显示不同内容-->
                <eq name="Think.session.admin_username" value="">
                    <a class="btn btn-outline-success mr-sm-2 my-2 my-sm-0" href="{:U('Admin/Public/login')}">登 录 <i class="fa fa-user-circle"></i></a>
                    <a class="btn btn-outline-success my-2 my-sm-0" href="{:U('Admin/Public/login')}">注 册 <i class="fa fa-user-circle"></i></a>
                <else/>
                    <div class="dropdown login-user">
                        <span>
                            <img alt="image" class="img-circle" height="40px" src="__PUBLIC__/images/profile_small.jpg" />
                        </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="">
                            <span class="username"> 
                                <span class="block m-t-xs"> <strong class="font-bold">{$Think.session.admin_username}</strong><b class="caret"></b></span>   
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{:U('Admin/Index/index')}">管理台</a>
                            <a class="dropdown-item" href="{:U('Admin/Index/changePassword')}">修改密码</a>
                            <a class="dropdown-item"href="{:U('Admin/Public/logout')}">安全退出</a>
                        </div>
                    </div>
                </eq>
            </div>
        </nav>
        <div class="category-area">
          <div class="container">
            <div class="row no-gutters">
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                  <div class="category-wrapper">
                      <!--鼠标经过时的背景图片-->
                      <div class="mouse-over-img">
                          <a href=""><img src="__PUBLIC__/assets/img/course/c-03.png" alt=""></a>
                      </div>
                      <!--course内容 非鼠标经过情况下的显示-->
                      <div class="course-cat-text course-cat-02-text text-center">
                          <div class="course-icon mb-25">
                              <i class="fa fa-paint-brush"></i>
                          </div>
                          <h4><a href="{:U('Note/Index/index')}">云 笔 记</a></h4>
                          <div class="course-arrow-btn">
                              <a class="arrow-btn" href="{:U('Note/Index/index')}"><i class="fa fa-long-arrow-right"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                  <div class="category-wrapper">
                      <div class="mouse-over-img">
                          <a href=""><img src="__PUBLIC__/assets/img/course/c-03.png" alt=""></a>
                      </div>
                      <div class="course-cat-text course-cat-02-text text-center">
                          <div class="course-icon mb-25">
                              <i class="fa fa-compass"></i>
                          </div>
                          <h4><a href="{:U('Navgator/Index/index')}">导 航</a></h4>
                          <div class="course-arrow-btn">
                              <a class="arrow-btn" href="{:U('Navgator/Index/index')}"><i class="fa fa-long-arrow-right"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                  <div class="category-wrapper">
                      <div class="mouse-over-img">
                          <a href=""><img src="__PUBLIC__/assets/img/course/c-03.png" alt=""></a>
                      </div>
                      <div class="course-cat-text course-cat-02-text text-center">
                          <div class="course-icon mb-25">
                              <i class="fa fa-bug"></i>
                          </div>
                          <h4><a href="">爬 虫</a></h4>
                          <div class="course-arrow-btn">
                              <a class="arrow-btn" href="#"><i class="fa fa-long-arrow-right"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                  <div class="category-wrapper">
                      <div class="mouse-over-img">
                          <a href=""><img src="__PUBLIC__/assets/img/course/c-03.png" alt=""></a>
                      </div>
                      <div class="course-cat-text course-cat-02-text text-center">
                          <div class="course-icon mb-25">
                              <i class="fa fa-code"></i>
                          </div>
                          <h4><a href="">开 发 中</a></h4>
                          <div class="course-arrow-btn">
                              <a class="arrow-btn" href="#"><i class="fa fa-long-arrow-right"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
            </div>

          </div>
        </div>
        
    </body>
</html>