.category-area {
    padding-top:65px;
    padding-bottom:100px;
}

.category-wrapper {
    position:relative;
    border:1px solid #4F4D80;
}

.mouse-over-img{
    position:relative;
}
.mouse-over-img a{
    display:block;
    overflow:hidden;
}
.mouse-over-img a img{
    width:100%;
    transition:.3s;
}

.category-wrapper .mouse-over-img {
    position:absolute;
    height:100%;
    width:100%;
    z-index:1;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
    visibility:hidden;
    text-align:center;
    margin:0 auto;
    -webkit-transition:all .4s ease-out 0s;
    -moz-transition:all .4s ease-out 0s;
    -ms-transition:all .4s ease-out 0s;
    -o-transition:all .4s ease-out 0s;
    transition:all .4s ease-out 0s;
}
.category-wrapper .mouse-over-img a{
    overflow:visible;
    position:relative;
    display:block;
    top:-5px;
    -webkit-transition:all .4s ease-out 0s;
    -moz-transition:all .4s ease-out 0s;
    -ms-transition:all .4s ease-out 0s;
    -o-transition:all .4s ease-out 0s;
    transition:all .4s ease-out 0s;
}

/*这里实际上是在课程图片上加了一层蒙板
蒙板透明度为0.929
宽高100%,带阴影
*/
.category-wrapper .mouse-over-img a::before{
    content:'';
    border-radius:14px;
    background-color:#0c41ff;
    opacity:.929;
    box-shadow:0 10px 60px 0 rgba(54,98,255,.4);
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:1;
}

.category-wrapper .mouse-over-img a img {
    border-radius:14px;
}
.category-wrapper:hover{
    border:0;
}
.category-wrapper:hover .mouse-over-img{
    opacity:1;
    visibility:visible;
}

.category-wrapper:hover .mouse-over-img a{
    transform:scale(1.1);
    /*这里也要加一个圆角，否则鼠标经过时图片会有一个小小的直角在边框之外*/
    border-radius:14px;
}

.course-cat-02-text{
    border:0;
    padding:49px 0 30px;
    position:relative;
    z-index:3;
    -webkit-transition:all .4s ease-out 0s;
    -moz-transition:all .4s ease-out 0s;
    -ms-transition:all .4s ease-out 0s;
    -o-transition:all .4s ease-out 0s;
    transition:all .4s ease-out 0s;
}

.course-icon {
    margin-bottom:25px;
}
.course-cat-02-text .course-icon i{
    color:#3662ff;
    font-size:50px;
    line-height:1;
    -webkit-transition:all .4s ease-out 0s;
    -moz-transition:all .4s ease-out 0s;
    -ms-transition:all .4s ease-out 0s;
    -o-transition:all .4s ease-out 0s;
    transition:all .4s ease-out 0s;
}
.course-cat-02-text h4 a:hover{
    text-decoration: none;
    color:#fff;
}
.course-cat-02-text span{
    color:#fff;
    font-size:15px;
    line-height:1;
    font-family:hind;
    display:inline-block;
    margin-bottom:15px;
}
.course-cat-02-text .arrow-btn{
    color:#ea5822;
    font-size:25px;
    display:inline-block;
    -webkit-transition:all .4s ease-out 0s;
    -moz-transition:all .4s ease-out 0s;
    -ms-transition:all .4s ease-out 0s;
    -o-transition:all .4s ease-out 0s;
    transition:all .4s ease-out 0s;
}

/*增加定位，下拉菜单是absolute定位*/
.login-user {
    position:relative;
}

.login-user a:hover {
    text-decoration: none;
}

.login-user a:hover .username {
    color:#FFF;
}

.img-circle {
    border-radius: 50%;
}

/*因为靠近界面右侧，所以让下拉菜单靠左显示，避免超出页面范围*/
.login-user .dropdown-menu {
    left:auto;
    right:0;
}
