.wrapper {
    width:75%;
    margin:0 auto;
    max-width:80em;
}

.blue-dark-bg {
    background-color: #FAF1E6;
}

/*拉开图标和文字之间的间隙*/
.icon {
    margin-right: 10px;
}
.navbar {
    margin-bottom: 0;
}
.img-circle {
    border-radius: 50%;
}

.file-toolbar {
    padding-left: 0;
    padding-right: 0;
    text-align:center;
}
.file-toolbar a {
    text-decoration: none;
}

.file-oper-menu {
    list-style: none;
    margin:auto;
}

.new-file {
    display: block;
    position:relative;
    padding:10px 0;
}

.btn-new-file {
    margin:0 auto;
    display:block;
}

.file-folder {
    padding-left: 0;
    padding-right: 0;
}
.sidebar-nav a:hover {
    text-decoration: none;
}
.sidebar-nav {
    background:#FAF1E6;
    position: relative;
}
.sidebar-nav ul {
    list-style: none;
    padding:0;
    margin:0;
}
.sidebar-nav .metismenu a {
    display:block;
    position: relative;
    padding:13px 15px;
}
/*各级菜单的缩进*/
.sidebar-nav .metismenu ul a {
    padding: 10px 15px 10px 30px;
}
.sidebar-nav .metismenu ul ul a {
    padding: 10px 15px 10px 45px;
}
.sidebar-nav .metismenu a:not(.has-arrow):active ,
.sidebar-nav .metismenu a:hover {
    color: #f8f9fa;
    text-decoration: none;
    background: #3EDBF0;
}

.input-file-name input {
    padding-left:47px;
    border:0;
}

.md-editor {
    position:relative;
    padding-left:0;
    padding-right:0;
    padding-bottom:0;
}
/*去除编辑器底部空白*/
.editormd {
    margin-bottom:0;
}