<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>云笔记</title>
        <meta name="Viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/css/bootstrap.css" />
        <!--此处font-awesome.css需要在editormd.css之前-->
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/css/editormd.css"/>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/css/metisMenu.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/css/note.css" />
        
        <script src="__PUBLIC__/assets/js/jquery-3.5.1.js"></script>
        <script src="__PUBLIC__/assets/js/bootstrap.js"></script>

        <script src="__PUBLIC__/assets/js/editormd.js"></script>
        <script src="__PUBLIC__/assets/js/metisMenu.min.js"></script>
        <script src="__PUBLIC__/assets/js/note.js"></script>
    </head>
    <body>
      <nav class="navbar navbar-light bg-light " role="navigation">
        <a class="navbar-brand" href="#">OneWay Note</a>
      </nav>
      <main class="blue-dark-bg">
          <div class="container-fluid">
              <div class="row">
                  <!--目录-->
                  <div class="col-xl-2 col-lg-2 col-md-2 ">
                    <!--文件操作-->
                    <div class="row align-items-center">
                      <div class="col align-self-center file-toolbar">
                        <div class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-plus icon"></span>File 
                            <b class="caret"></b>
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button">Action</button>
                            <button class="dropdown-item" type="button">Another action</button>
                            <button class="dropdown-item" type="button">Something else here</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <!--目录-->
                    <div class="row justify-content-md-center">
                      <div class="col file-folder">
                        <nav class="sidebar-nav">
                          <ul class="metismenu" id="menu1">
                            <li>
                              <a class="has-arrow" href="#">
                                <span class="fa fa-fw fa-github fa-lg"></span>
                                metisMenu
                              </a>
                              <ul>
                                <li>
                                  <a href="https://github.com/onokumus/metisMenu">
                                    <span class="fa fa-fw fa-code-fork"></span> Fork
                                  </a>
                                </li>
                                <li>
                                  <a href="https://github.com/onokumus/metisMenu">
                                    <span class="fa fa-fw fa-star"></span> Star
                                  </a>
                                </li>
                                <li>
                                  <a href="https://github.com/onokumus/metisMenu/issues">
                                    <span class="fa fa-fw fa-exclamation-triangle"></span> Issues
                                  </a>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <a class="has-arrow" href="#" aria-expanded="false">Menu 0</a>
                              <ul>
                                <li><a href="#">item 0.1</a></li>
                                <li><a href="#">item 0.2</a></li>
                                <li><a href="https://onokumus.com">onokumus</a></li>
                                <li><a href="#">item 0.4</a></li>
                              </ul>
                            </li>
                            <li id="removable">
                              <a class="has-arrow" href="#" aria-expanded="false">Menu 1</a>
                              <ul>
                                <li><a href="#">item 1.1</a></li>
                                <li><a href="#">item 1.2</a></li>
                                <li class="">
                                  <a class="has-arrow" href="#" aria-expanded="false">Menu 1.3</a>
                                  <ul>
                                    <li><a href="#">item 1.3.1</a></li>
                                    <li><a href="#">item 1.3.2</a></li>
                                    <li><a href="#">item 1.3.3</a></li>
                                    <li><a href="#">item 1.3.4</a></li>
                                  </ul>
                                </li>
                                <li><a href="#">item 1.4</a></li>
                                <li>
                                  <a class="has-arrow" href="#" aria-expanded="false">Menu 1.5</a>
                                  <ul>
                                    <li><a href="#">item 1.5.1</a></li>
                                    <li><a href="#">item 1.5.2</a></li>
                                    <li><a href="#">item 1.5.3</a></li>
                                    <li><a href="#">item 1.5.4</a></li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <a class="has-arrow" href="#" aria-expanded="false">Menu 2</a>
                              <ul>
                                <li><a href="#">item 2.1</a></li>
                                <li><a href="#">item 2.2</a></li>
                                <li><a href="#">item 2.3</a></li>
                                <li><a href="#">item 2.4</a></li>
                              </ul>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-xl-10 col-lg-10 col-md-10">
                    <div class="row title-edit-save">
                      <div class="col">
                        <form class="form-inline">
                          <input class="form-control col-xl-8 col-lg-8 col-md-8" type="text" placeholder="文件名">
                          <button class="btn btn-outline-success col-xl-2 col-lg-2 col-md-2" type="submit">预览</button>
                          <button class="btn btn-outline-success col-xl-2 col-lg-2 col-md-2" type="submit">保存</button>
                        </form>
                      </div>

                    </div>
                    <div class="row ">
                      <!--编辑器-->
                      <div class="col">
                        <div class="md-editor">
                          <section class="editor">
                            <div id="test-editormd"></div>
                          </section>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </main>
      <script>
        $(function () {
          $('#menu1').metisMenu();
        });
      </script>
    </body>
</html>