<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>云笔记</title>
        <meta name="Viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/css/bootstrap.css" />
        <!--此处font-awesome.css需要在editormd.css之前-->
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/editormd/css/editormd.css"/>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/css/metisMenu.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/css/note.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/jstree/themes/default/style.css">

        <script src="__PUBLIC__/assets/js/jquery-3.5.1.js"></script>
        <script src="__PUBLIC__/assets/js/bootstrap.js"></script>

        <script src="__PUBLIC__/assets/js/editormd.js"></script>
        <script src="__PUBLIC__/assets/jstree/jstree.js"></script>
        <script src="__PUBLIC__/assets/js/metisMenu.min.js"></script>
        <script src="__PUBLIC__/static/layer/layer.js"></script>
        
        <script src="__PUBLIC__/assets/js/note.js"></script>
    </head>
    <body>
      <nav class="navbar navbar-dark bg-dark " role="navigation">
        <a class="navbar-brand" href="{:U('Home/Index/index')}">OneWay</a>
      </nav>
      <main class="blue-dark-bg">
          <div class="container-fluid">
              <div class="row">
                  <!--目录-->
                  <div class="col-xl-2 col-lg-2 col-md-2 ">
                    <!--文件操作-->
                    <div class="row align-items-center">
                      <div class="col align-self-center file-toolbar">
                        <div class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-plus icon"></span>File 
                            <b class="caret"></b>
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button">Action</button>
                            <button class="dropdown-item" type="button">Another action</button>
                            <button class="dropdown-item" type="button">Something else here</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <!--目录-->
                    <div class="row justify-content-md-center">
                      <div class="col file-folder">
                        <div id="jstree"></div>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-xl-10 col-lg-10 col-md-10">
                    <div class="row title-edit-save">
                      <div class="col">
                        <form id="fileOperForm" name="fileOperForm" method="POST" class="form-inline">
                          <input name="fileName" class="form-control col-xl-9 col-lg-9 col-md-9" type="text" placeholder="文件名">
                          <button class="btn btn-outline-success col-xl-1 col-lg-1 col-md-1 button" id="saveMarkdownBtn" type="submit">保存</button>
                          <button class="btn btn-outline-success col-xl-1 col-lg-1 col-md-1 button" id="previewMarkdownBtn">预览</button>
                        </form>
                        
                      </div>

                    </div>
                    <div class="row ">
                      <!--编辑器-->
                      <div class="col">
                        <div class="md-editor">
                          <section class="editor">
                            <div id="test-editormd"></div>
                          </section>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </main>
      <script>
        $('#fileOperForm').submit(function(){
        var fileName = $("input[name='fileName']").val();
        var fileContent = testEditor.getMarkdown();
    
        var date = new Date();
        var modifyDate = date.getFullYear()+'/'+(date.getMonth()+1)+'/'+date.getDate()+' '
        var modifyTime = date.getHours()+'/'+date.getMinutes()+'/'+date.getSeconds();
        
        var url="{:U('saveFile')}";//$(this).attr('action');
        $.ajax({
            type:"post",
            url:url,
            data:{fileName:fileName,fileContent:fileContent,modifyDate:modifyDate},
            error:function(error) {
              console.log(error.responseText);
              console.log(error.readyState);
              console.log(error.status);
            },
            success:function(res){
                if(0 == res.status)
                {
                    layer.msg(res.message,{time:1000});
                }
                else
                {
                    layer.msg(res.message,{time:2000});
                }//else
            }//success
            
        });//ajax
        return false;
      });//submit

        $('#jstree').jstree({
          'core' : {
            'data' : {
              'url' : "{:U('loadDirFle')}",
              'datatype':'json',
              'data' : function (node) {
                    return { "id" : node.id };
              }
            }
          }
        });
      </script>
    </body>
</html>